img {
  width: 100%;
  object-fit: cover;
}
h1 {
  text-align: center;
  border: solid;
  border-width: 1px;
  border-color: black;
}
h2 {
  margin-left: 100px;
}
.section_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  /* "Create a grid with columns that should automatically fill the available space, and each column should be at least 400px wide but can expand to take up available space equally." */
  margin-left: 100px;
  margin-right: 100px;
}
article {
  border: solid;
  border-width: 1px;
  border-color: black;
  margin-right: 10px;
}
footer {
  text-align: center;
  border: solid;
  border-width: 1px;
  border-color: black;
  margin-top: 10px;
}
